PORT=4000
NODE_ENV=production

# Admin
ADMIN_PASSWORD=TrocaEstaSenh@123
JWT_SECRET=gere_uma_chave_secreta_forte_aqui

# Mercado Pago
MP_PUBLIC_KEY=APP_USR-xxxxxxxx
MP_ACCESS_TOKEN=APP_USR-xxxxxxxx
MP_WEBHOOK_SECRET=seu_webhook_secret

# Site base URL (sem barra final)
BASE_URL=https://passaroprofessor.com.br
